@page "/editwish"
@using WichtelnWebapp.Shared
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager
@inject HttpClient http
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;
@using System.Net.Http

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Edit Wish</h3>
        <div class="d-flex justify-content-center">
            <EditForm Model="@wish" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="form-group">
                    <label for="title">Title</label>
                    <InputText class="form-control" @bind-Value="wish.ITEM_TITLE" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <InputTextArea class="form-control" @bind-Value="wish.ITEM_DESCRIPTION" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/wishlist" class="col-3">Cancel</a>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int user_id { get; set; }

    [Parameter]
    public int wish_id { get; set; }

    private WishModel wish = new WishModel();


    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var init_id))
        {
            wish_id = Convert.ToInt32(init_id);
        }
        user_id = await sessionStorage.GetItemAsync<Int32>("ACCOUNT_ID");
        wish = await http.GetFromJsonAsync<WishModel>("api/WishList/GetByID/" + wish_id);
    }

    private async void HandleValidSubmit()
    {
        var request = await http.PostAsJsonAsync<WishModel>("api/WishList/EditWish/" + wish_id, wish);
        if (request.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/wishlist");
        }
    }



}

