@page "/register"
@layout LoginLayout
@using WichtelnWebapp.Shared
@inject NavigationManager NavigationManager
@inject HttpClient http
@using System.Net.Http

<div class="card">
    <div class="card-body">
        <h3 class="card-title">Register</h3>
        <div class="d-flex justify-content-center">
            <EditForm Model="@accountModel" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <p>@status</p>
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <InputText class="form-control" @bind-Value="accountModel.EMAIL" />
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <InputText class="form-control" @bind-Value="accountModel.USERNAME" />
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <InputText class="form-control" @bind-Value="accountModel.NAME" />
                </div>
                <div class="form-group">
                    <label for="surnam">Surname</label>
                    <InputText class="form-control" @bind-Value="accountModel.SURNAME" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <InputText type="password" class="form-control" @bind-Value="accountModel.PASSWORD" />
                </div>
                <button type="submit" class="btn btn-primary">Create Account</button>
                <a href="/" class="col-3">Cancel</a>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private AccountModel accountModel = new AccountModel();
    String status;

    private async void HandleValidSubmit()
    {
        var request = await http.PostAsJsonAsync<AccountModel>("api/Account/AddAccount", accountModel);
        if (request.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/");
        }
        status = request.StatusCode.ToString();
    }

    private void handleCancel()
    {
        NavigationManager.NavigateTo("/");
    }

}
