@page "/wishlist"
@using WichtelnWebapp.Shared
@inject HttpClient http
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager


<h3>My Wishlist</h3>
@if (wishlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (wishlist.Count != 0)
            {

                @foreach (var wish in wishlist)
                {
                    <tr>
                        <td>@wish.ITEM_TITLE</td>
                        <td>@wish.ITEM_DESCRIPTION</td>
                        <td>
                            <button type="button" class="btn btn-danger" @onclick="@(()=> deleteWish(wish.WISH_ID))">
                                <span class="oi oi-trash"></span>
                            </button>
                        </td>

                    </tr>
                }
            }
            else
            {
                <p>No Wishes added yet</p>
            }

        </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-lg" @onclick="@addwish">
        <span class="oi oi-plus"></span>
    </button>
}


@code {
    [Parameter]
    public int id { get; set; }

    private List<WishModel> wishlist;


    protected override async Task OnInitializedAsync()
    {
        id = await sessionStorage.GetItemAsync<Int32>("ACCOUNT_ID");
        wishlist = await http.GetFromJsonAsync<List<WishModel>>("api/WishList/GetByID/" + id);
    }

    async Task deleteWish(int wish_id)
    {
        await http.DeleteAsync("api/WishList/Delete/" + wish_id);
        wishlist = await http.GetFromJsonAsync<List<WishModel>>("api/WishList/GetByID/" + id);
    }

    void addwish()
    {
        NavigationManager.NavigateTo("/addwish");
    }


}
