@page "/wishlist"
@using WichtelnWebapp.Shared
@inject HttpClient http
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h3>My Wishlist</h3>
<p>Your wishlist is shown here</p>
@if (wishlist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var wish in wishlist)
            {
                <tr>
                    <td>@wish.ITEM</td>
                    <td>@wish.DESCRIPTION</td>
                    <td><input type="checkbox" /></td>

                </tr>
            }
        </tbody>
    </table>
}


@code {

    private List<WishModel> wishlist;
    protected override async Task OnInitializedAsync()
    {
        int id = await sessionStorage.GetItemAsync<Int32>("ACCOUNT_ID");
        wishlist = await http.GetFromJsonAsync<List<WishModel>>("api/GetWishList/" + id);
    }
}
