@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject NavigationManager NavigationManager


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="#" class="ml-md-auto" @onclick="logout">Logout</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    protected override async Task OnInitializedAsync()
    {
        int ACCOUNT_ID = await sessionStorage.GetItemAsync<Int32>("ACCOUNT_ID");

        if(ACCOUNT_ID == 0)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    public void logout()
    {
        sessionStorage.ClearAsync();
        NavigationManager.NavigateTo("/");
    }

}
